<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>


    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--GENERAL GRID START-->
<!--<div class="container-fluid" style="padding-left: 0px; padding-right: 0px">-->


<!--TOP NAVBAR-->
<nav class="navbar navbar-dark bg-dark col-12" th:object="${currentUser}">
    <h2 class="navbar-brand" th:text="*{email + ' with roles: ' + roles}"></h2>

    <a href="/logout">
        <input type="button" class="btn btn-md active disabled btn-secondary" value="Logout"/>
    </a>
</nav>


<!--MAIN GRID START-->
<div class="flex-fill row bg-light" style="height: 1000px">

    <!--SIDEBAR START-->
    <div class="col-2  bg-white " style="padding-right: 0px">

        <div class=" list-group  bg-white" style="margin-right: auto">

            <a href="/admin" class="list-group-item w list-group-item-action active">Admin</a>
            <a href="/user" class="list-group-item  list-group-item-action">User</a>
        </div>

    </div>
    <!--SIDEBAR END-->

    <!--    MAIN BAR START-->
    <div class="col-10 bg-light text-dark " style="padding-left: 50px; padding-right: 50px">

        <div><h1>Admin information page</h1></div>

        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a href="#userTable" class="nav-link active" role="tab" data-toggle="tab">User Table</a>
            </li>

            <li class="nav-item">
                <a href="#newUser" class="nav-link" role="tab" data-toggle="tab">New User</a>
            </li>

        </ul>


        <div class="tab-content ">

            <div role="tabpanel" class="tab-pane active " id="userTable">
                <div><h4>All users</h4></div>


                <!--        USER TABLE START-->
                <table class="table table-striped bg-white">
                    <!--            UT HEADERS START-->
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>

                    </tr>
                    </thead>
                    <!--            UT HEADERS END-->

                    <tbody>

                    <tr th:each="user : ${users}"
                        th:style="'font-weight: bold;'">
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getLastName()}"></td>
                        <td th:text="${user.getAge()}"></td>
                        <td th:text="${user.getEmail()}"></td>
                        <td th:text="${user.getRoles()}"></td>

                        <td >

                            <!--                            Button trigger modal-->
                            <button
                                    type="button"
                                    class="btn btn-info" data-toggle="modal" th:data-target="${'#userUpdateModal' + user.getId()}">
                                Edit

                            </button>

                            <!--                            Button trigger modal end-->


                            <!-- Update Modal start-->

                                <div
                                        class="modal fade" th:id="${'userUpdateModal' + user.getId()}" tabindex="-1" role="dialog"
                                        aria-labelledby="userUpdateModal" aria-hidden="true">

                                    <div class="modal-dialog" role="document">
                                        <div
                                                class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="userUpdateModalLabel">Edit user</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <form th:method="PATCH" th:action="@{/update/{id}(id=${user.id})}">
                                            <div class="modal-body">
                                                <!--                    Add user form with rows start-->
                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-6">
                                                        <!--                            ADD USER FORM START-->

                                                        <!--                                NAME INPUT-->

                                                        <div class="text-center">

                                                            <b>
                                                                ID
                                                            </b>
                                                            <input disabled th:placeholder="${user.id}" class="form-control" id="idToUpdate"

                                                                   th:value="${user.id}"/>
                                                        </div>

                                                        <div class="text-center">

                                                            <b>
                                                                First name
                                                            </b>
                                                            <input  class="form-control" id="nameToUpdate" name="name"

                                                                   required
                                                                   type="text"
                                                                   th:value="${user.name}"/>
                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b>
                                                                Last name
                                                            </b>
                                                            <input class="form-control" id="lastNameToUpdate" required
                                                                   type="text"
                                                                   name="lastName"
                                                                   th:value="${user.lastName}"/>
                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b>
                                                                Age
                                                            </b>
                                                            <input type="number" class="form-control" id="ageToUpdate"
                                                                   name="age"
                                                                   th:value="${user.age}"/>

                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b for="emailToUpdate">
                                                                Email
                                                            </b>
                                                            <input class="form-control" id="emailToUpdate" required
                                                                   type="email"
                                                                   name="email"
                                                                   th:value="${user.email}"/>
                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b for="passwordToUpdate">
                                                                Password
                                                            </b>
                                                            <input class="form-control" id="passwordToUpdate" required
                                                                   type="password"
                                                                   name="password"
                                                                   th:field="${user.password}"/>
                                                        </div>

                                                        <div class="form-group text-center">
                                                            <b>
                                                                Roles
                                                            </b>

                                                            <select name="roleIdToUpdate" multiple
                                                                    class="form-control"
                                                                    style="height: 60px">
                                                                <option class="active" value="1">USER</option>
                                                                <option value="2">ADMIN</option>
                                                            </select>

                                                        </div>


                                                        <!--                            Update USER FORM END-->
                                                    </div>
                                                    <div class="col-md-3">
                                                    </div>
                                                </div>
                                                <!--                    Add user form with rows end-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">Edit</button>

                                            </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>

<!--                            </form>-->
                            <!-- Update Modal end-->


                        </td>
                        <td>


                                <button type="submit"
                                        class="btn btn-danger" data-toggle="modal" th:data-target="${'#userDeleteModal' + user.getId()}">
                                    Delete
                                </button>


                            <div
                                    class="modal fade" th:id="${'userDeleteModal' + user.getId()}" tabindex="-1" role="dialog"
                                    aria-labelledby="userDeleteModal" aria-hidden="true">

                                <div class="modal-dialog" role="document">
                                    <div
                                            class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="userDeleteModalLabel">Edit user</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form th:method="DELETE" th:action="@{/delete/{id}(id=${user.id})}">
                                            <div class="modal-body">

                                                <div class="row">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-6">



                                                        <div class="text-center">

                                                            <b>
                                                                ID
                                                            </b>
                                                            <input disabled th:placeholder="${user.id}" class="form-control" id="idToDelete"

                                                                   th:value="${user.id}"/>
                                                        </div>

                                                        <div class="text-center">

                                                            <b>
                                                                First name
                                                            </b>
                                                            <input disabled class="form-control" id="nameToDelete" name="name"

                                                                    required
                                                                    type="text"
                                                                    th:value="${user.name}"/>
                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b>
                                                                Last name
                                                            </b>
                                                            <input disabled class="form-control" id="lastNameToDelete" required
                                                                   type="text"
                                                                   name="lastName"
                                                                   th:value="${user.lastName}"/>
                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b>
                                                                Age
                                                            </b>
                                                            <input disabled type="number" class="form-control" id="ageToDelete"
                                                                   name="age"
                                                                   th:value="${user.age}"/>

                                                        </div>

                                                        <div class="form-group text-center">

                                                            <b for="emailToUpdate">
                                                                Email
                                                            </b>
                                                            <input disabled class="form-control" id="emailToDelete" required
                                                                   type="email"
                                                                   name="email"
                                                                   th:value="${user.email}"/>
                                                        </div>



                                                        <div class="form-group text-center">
                                                            <b>
                                                                Roles
                                                            </b>

                                                            <select disabled name="roleIdToDelete" multiple
                                                                    class="form-control"
                                                                    style="height: 60px">
                                                                <option class="active" value="1">USER</option>
                                                                <option value="2">ADMIN</option>
                                                            </select>

                                                        </div>


                                                        <!--                            DELETE USER FORM END-->
                                                    </div>
                                                    <div class="col-md-3">
                                                    </div>
                                                </div>
                                                <!--                    Add user form with rows end-->
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete</button>

                                            </div>
                                        </form>
                                    </div>
                                </div>


                            </div>


                        </td>


                    </tbody>
                </table>
                <!--       USER TABLE END-->
            </div>
            <!--             ADD NEW USER  TABLE START-->
            <div role="tabpanel" class="tab-pane fade" id="newUser">

                <div><h4>Add new user</h4></div>

                <div class="container-fluid bg-white">
                    <!--                    Add user form with rows start-->
                    <div class="row">
                        <div class="col-md-5">
                        </div>
                        <div class="col-md-2">
                            <!--                            ADD USER FORM START-->
                            <form role="form" method="post" th:action="@{/}" th:object="${user}">
                                <!--                                NAME INPUT-->
                                <div class="form-group text-center">

                                    <b for="name">
                                        First name
                                    </b>
                                    <input class="form-control" id="nameInput" required type="text"
                                           th:field="*{name}"/>
                                </div>

                                <div class="form-group text-center">

                                    <b for="lastName">
                                        Last name
                                    </b>
                                    <input class="form-control" id="lastName" required type="text"
                                           th:field="*{lastName}"/>
                                </div>

                                <div class="form-group text-center">

                                    <b for="age">
                                        Age
                                    </b>
                                    <input type="number" class="form-control" id="age"
                                           th:field="*{age}"/>

                                </div>

                                <div class="form-group text-center">

                                    <b for="email">
                                        Email
                                    </b>
                                    <input class="form-control" id="email" required type="email"
                                           th:field="*{email}"/>
                                </div>

                                <div class="form-group text-center">

                                    <b for="password">
                                        Password
                                    </b>
                                    <input class="form-control" id="password" required type="password"
                                           th:field="*{password}"/>
                                </div>

                                <div class="form-group text-center">
                                    <b for="rolesSelector">
                                        Roles
                                    </b>

                                    <select name="roleId" multiple class="form-control id=rolesSelector"
                                            style="height: 60px">
                                        <option class="active" value="1">USER</option>
                                        <option value="2">ADMIN</option>
                                    </select>

                                </div>

                                <div class="form-group text-center">
                                    <input type="submit" class="btn btn-success" value="Add user">

                                </div>
                            </form>
                            <!--                            ADD USER FORM END-->
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <!--                    Add user form with rows end-->
                </div>
            </div>
            <!--             ADD NEW USER  TABLE END-->
        </div>

    </div>
    <!--    MAIN BAR END-->


</div>
<!--MAIN GRID END-->
<!--</div>-->
<!--GENERAL GRID END-->
</body>
</html>